
<div>
  <!-- <table style="width: 100%;">
 <tr>
  <td>
      <app-admin></app-admin>
  </td>
  <td>
    <app-user></app-user>
  </td>
 </tr>

</table> -->

<!-- <app-databinding></app-databinding> -->
<!-- 
<app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-class></app-ng-class> -->

<!-- <app-ng-style></app-ng-style> -->
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="databinding">Databinding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-if">ngif</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-for">ngfor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-style">ngstyle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-class">ngclass</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="conditional">conditioal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signal">signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="linkedsignal">Linked signal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="template-forms">Template form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reactive-forms">Reactive-form</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            API
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">
            <li><a class="dropdown-item" routerLink="get-api">GET</a></li>
            <li><a class="dropdown-item" routerLink="post-api">POST</a></li>
            <li><a class="dropdown-item" routerLink="put-api">PUT</a></li>
            <li><a class="dropdown-item" routerLink="delete-api">DELETE</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>